*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f4f4;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.login-container{
    width:350px;
    background:#fff;
    padding:30px;
    border-radius:10px;
    box-shadow:0 0 15px rgba(0,0,0,0.2);
    text-align:center;
}

.login-container h1{
    color:#2c3e50;
    margin-bottom:10px;
}

.login-container h2{
    margin-bottom:20px;
}

.login-container input{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:1px solid #ccc;
    border-radius:5px;
}

.login-container button{
    width:100%;
    padding:12px;
    background:#007bff;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-size:16px;
}

.login-container button:hover{
    background:#0056b3;
}
.login-logo{
    width: 140px;
    height: 140px;
    border-radius:50%;
    display: block;
    margin:0 auto 20px;
}
.navbar{
    display: flex;
    align-items: center;
}

.nav-links{
    display: flex;
    list-style: none;
}

.profile-icon{
    margin-left: auto;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.profile-icon:hover{
    color: #38bdf8;
}
.logo{
    display:flex;
    align-items:center;
    gap:10px;
}

.logo img{
    width:55px;
    height:55px;
    border-radius:50%;
}

.logo h2{
    margin:0;
    color:white;
    font-size:18px;
}
/* FIX FOR MANAGE ROOMS PAGE */
body {
    height: auto;
    min-height: 100vh;
    display: block;
    background: #f7f8fa;
}

header {
    width: 100%;
    margin: 0;
    padding: 0;
}

.navbar {
    width: 100%;
}